[gcode_macro BT_UNLOAD_FILAMENT]
description: Unloads filament from a specific tool. Attempts to shape the filament tip as part of unloading process.
gcode:
    # Use slightly lower temp than you would use for printing
    {% set TARGET_TEMP = params.TARGET_TEMP|default(205)|int %}

    {% set vars = printer["gcode_macro _BT_VARIABLES"] %}
    {% set tool = params.TOOL|default(vars.current_tool)|int %}
    {% set DISTANCE = params.DISTANCE|default(80)|float %} # Total distance to pull out after shaping
    {% set tool_count = vars.x_locs|length %}
    {% if tool >= 0 and tool < tool_count %}
        SAVE_GCODE_STATE NAME=unload_state
        
        M104 S{TARGET_TEMP} T{tool}
        T{tool}                     # This will wait for the tool to reach temp before exiting docking bay
        M109 S{TARGET_TEMP} T{tool} # but just in case the tool was already active (it may not wait since its out of the dock)

        M117 Shaping filament tip...
        M83 # Set extruder to relative mode
        
        # Temporarily boost extruder current as a safeguard (probably not necessary)
        _EXTRUDER_STEPPER_BOOST

        ; Relieve pressure
        G1 E-2.0 F1800
        G4 P250

        ;----------------------------------------------------------
        ; Tip forming
        ;----------------------------------------------------------

        ; Refill melt zone
        G1 E2.0 F240

        ; Neck the filament
        G1 E-3.0 F600

        ; Small refill
        G1 E0.8 F180

        ; Progressive pullback
        G1 E-8 F900
        G1 E-4 F300
        G1 E-10 F1800
        G1 E-8 F3000

        ; Allow the tip to cool slightly
        G4 P750

        ; Move at a moderate speed to pull the rest of the filament out past the drive gears
        M117 Unloading filament...
        G1 E-{DISTANCE} F1200

        _EXTRUDER_STEPPER_RESTORE
        
        M117 Unload complete!
        RESTORE_GCODE_STATE NAME=unload_state
        M104 S0 T{tool}
        BT_UNSELECT_TOOL
    {% else %}
        M117 No active tool selected, skipping unload
    {% endif %}

#=====================================================
# See: https://klipper.discourse.group/t/example-search-printer-objects/164
# Say I wanted to know what the name and path of for the value of the currently loaded bed
# mesh. I could do type "search_vars s=profile" in my terminal and it will respond with
# any items containing the word ‘profile’.
[gcode_macro SEARCH_VARS]
gcode:
    {% set search = params.S|lower %}
    {% set ns = namespace() %}
    {% for item in printer  %}
        {% if ' ' in item %}
            {% set ns.path = ['printer', "['%s']" % (item), ''] %}
        {% else %}
            {% set ns.path = ['printer.', item, ''] %}   
        {% endif %} 

        {% if search in ns.path|lower %}
            { action_respond_info(ns.path|join) }
        {% endif %} 

        {% if printer[item].items() %}
            {% for childkey, child in printer[item].items() recursive %}
                {% set ns.path = ns.path[:loop.depth|int + 1] %}

                {% if ' ' in childkey %}
                    {% set null = ns.path.append("['%s']" % (childkey)) %}
                {% else %}
                    {% set null = ns.path.append(".%s" % (childkey)) %}
                {% endif %} 

                {% if child is mapping  %}
                    { loop(child.items()) }
                {% else %}
                    {% if search in ns.path|lower %}
                        { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                    {% endif %} 
                {% endif %} 
                
            {% endfor %}
        {% endif %} 
    {% endfor %}


[gcode_macro ENABLE_BT_PRIME_TOOLS]
description: Enables the BT_PRIME_TOOLS macro
gcode:

    SET_GCODE_VARIABLE MACRO=_BT_VARIABLES VARIABLE=priming_enabled VALUE=1

[gcode_macro DISABLE_BT_PRIME_TOOLS]
description: Disables the BT_PRIME_TOOLS macro
gcode:

    SET_GCODE_VARIABLE MACRO=_BT_VARIABLES VARIABLE=priming_enabled VALUE=0
