#------------------------------------------------------------------------------
# See bbox_toolchanger/bt_base.cfg for the various configuration variables 
# that we can customize that are associated with the _BT_VARIABLES macro.
# Typically we would configure the docking bay positions for each tool and the 
# docking motion values
[gcode_macro _BT_VARIABLES]

# Docking bay positions for each tool (X position only)
# Note: The number of items in this array also determines the total number of
# physical tool slots available in the toolchanger. Be sure to update this if 
# you add/remove tools or change their positions.
# An example of a 3-tool toolchanger with docking bay positions at X=0, X=30, and X=60:
# variable_x_locs: [0, 30, 60]
# Edit the following line to match the number of tools for your toolchanger
# and the positions of their docking bays. You can put temporary values during
# initial setup and then use the "Docking Bay Calibrate" procedure to determine
# the actual positions of each tool's docking bay. For example, if you have 3 tools
# you would use: variable_x_locs: [0,0,0]
variable_x_locs: []

# Docking bay Y position for all tools (Y position only)
# This is the Y position when a tool is fully engaged into its docking bay
# This will be updated when you run the "Docking Bay Calibrate" procedure
variable_dock_y: 10000

# Per-tool X/Y/Z nozzle offset, one line per calibrated tool, e.g.:
# variable_tool_offset_1: [0.7657, 0.4431, 0.1021]
# These values are updated when BT_SAVE_TOOL_OFFSET is used 
# (which the various calibration tools in the UI panel do).
# You may also hand edit these values. It is okay to have more entries than 
# the number of tools actually present on your computer (they will be ignored)
variable_tool_offset_1: [0,0,0]
variable_tool_offset_2: [0,0,0]
variable_tool_offset_3: [0,0,0]
variable_tool_offset_4: [0,0,0]
variable_tool_offset_5: [0,0,0]
variable_tool_offset_6: [0,0,0]
variable_tool_offset_7: [0,0,0]

gcode:


#-------------------------------------------------------------------------------
# Used to detect if a tool is attached or not on the extruder
# Uncomment the following section and set the pin to the correct value for your tool detection switch.
# Youw will remove the `#` from the beginning of each line to enable this section
# You will start with the line `#[gcode_button tool_detect]` and the next 2 lines below it. 
# The pin value is the mcu:pin that you have connected to your tool detection switch.
#-------------------------------------------------------------------------------
#[gcode_button tool_detect]
#press_gcode:    # Required but can be empty
#pin: ^XXXX      # Replace the XXXX with the mcu pin you are using for your tool detection switch. 
                # Be sure to keep the `^` at the beginning of the pin value.

#-------------------------------------------------------------------------------
# Enable the following section to use z offset probe
# Be sure to set the pin to the correct value
#-------------------------------------------------------------------------------
#[include ../bbox_toolchanger/bt_zprobe.cfg]
#[bbox_toolchanger]
#zprobe_pin: ^XXXX   # Replace the XXXX with the pin you are using for your tool detection switch.
                    # Be sure to keep the `^` at the beginning of the pin value.

#-------------------------------------------------------------------------------
# Enable the following section to use the X/Y/Z offset nozzle probe for tool calibration
# See bbox_toolchanger/bt_nozzle_probe.cfg for nozzle probe implementation and macros
# Here you can customize/configure how that nozzle probe will work without
# having to edit that file directly. Typically you would set the X/Y position of the 
# nozzle probe and the Z offset from the nozzle to the probe's trigger point. 
# You also need to specify the mcu:pin to use for the probe
#-------------------------------------------------------------------------------
#[include ../bbox_toolchanger/bt_nozzle_probe.cfg]
#[gcode_macro _BT_PROBE_CONFIG]
#variable_probe_x: 202           # X position of the nozzle probe - UPDATE for your printer
#variable_probe_y: 30            # Y position of the nozzle probe - UPDATE for your printer
#variable_travel_z: 30           # safe Z height to travel at before moving over the probe
#variable_calibrate_temp: 150    # nozzle temp while probing - hot enough to avoid thermal deformation, not so hot it oozes
#gcode:
#
#[bbox_tools_calibrate]          # This section is where the mcu:pin for the nozzle probe is specified.
#pin: ^XXXX      # Replace the XXXX with the pin you are using for your tool detection switch.
                    # Be sure to keep the `^` at the beginning of the pin value.

